@using Microsoft.AspNetCore.Mvc.ApiExplorer
@model Microsoft.AspNetCore.Mvc.ApiExplorer.IApiDescriptionGroupCollectionProvider

<div id="body">
    <section>
        <div>
            <hgroup>
                <h1>FoldingCoin (FLDC) Merged Folding API Help Page</h1>
            </hgroup>
        </div>
    </section>
    <section>
        <h3>API Groups, version 1 - test</h3>
        @foreach (ApiDescriptionGroup group in Model.ApiDescriptionGroups.Items)
        {
            <h4>@group.GroupName</h4>
            <ul>
                @foreach (ApiDescription api in group.Items)
                {
                    <li>
                        <h5>
                            @api.HttpMethod <a href="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.PathBase}/{api.RelativePath}")">@api.RelativePath</a>
                        </h5>
                        <blockquote>
                            @if (api.ParameterDescriptions.Count > 0)
                            {
                                <h6>Parameters</h6>
                                <dl>
                                    @foreach (ApiParameterDescription parameter in api.ParameterDescriptions)
                                    {
                                        <dt>Name</dt>
                                        <dd>@parameter.Name, (@parameter.Source.Id)</dd>
                                        <dt>Type</dt>
                                        <dd>@parameter.Type?.FullName</dd>
                                        if (parameter.RouteInfo != null)
                                        {
                                            <dt>Constraints</dt>
                                            <dd>@string.Join(",", parameter.RouteInfo.Constraints?.Select(c => c.GetType().Name).ToArray())</dd>
                                            <dt>DefaultValue</dt>
                                            <dd>parameter.RouteInfo.DefaultValue</dd>
                                            <dt>Is Optional</dt>
                                            <dd>@parameter.RouteInfo.IsOptional</dd>
                                        }
                                    }
                                </dl>
                            }
                            else
                            {
                                <i>No parameters</i>
                            }
                        </blockquote>
                        <blockquote>
                            <h6>Supported Response Types</h6>
                            <dl>
                                @foreach (ApiResponseType response in api.SupportedResponseTypes)
                                {
                                    <dt>Status Code</dt>
                                    <dd>@response.StatusCode</dd>

                                    <dt>Response Type</dt>
                                    <dd>@response.Type?.FullName</dd>

                                    foreach (ApiResponseFormat responseFormat in response.ApiResponseFormats)
                                    {
                                        <dt>Formatter</dt>
                                        <dd>@responseFormat.Formatter?.GetType().FullName</dd>
                                        <dt>Media Type</dt>
                                        <dd>@responseFormat.MediaType</dd>
                                    }
                                }
                            </dl>

                        </blockquote>
                    </li>
                }
            </ul>
        }
    </section>
</div>